body {
	font-family: 'Comfortaa', cursive;
	/* font-family: 'Poiret One', cursive; */
	background-color: #e0e0e0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.left-bar{

}

.main-container{
	margin-top: 2%;
}

.sabit{
	position: fixed !important;
}

.profile-img-left-bar {
	width: 250px;
}

.card-rounded{
	border-radius: 15px;
}

.card {
	box-shadow: #8c8c8c 0 10px 15px ;
}

.bg-current{
	background-color: #03a9f4;
}

.profile-menu{
	padding-top: 15px;
	list-style-type: none;
}

.profile-menu a {
	color: #fff;
}

.profile-menu .header{
	font-weight: bold;
	text-transform: uppercase;
}
